@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);


h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic SC', cursive;
	font-size:5em;
	text-align:center;
	margin-top:0.1em;
	margin-bottom:0.7em;
}

h2 {
	margin-bottom:0.3em;
	font-size:4.5em;
	position:relative;
	left:50px;
}

body {
	font-family: 'Shadows Into Light', cursive;
	background: url("background2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: background-image 0.5s;
}
 
 body:active {
	 background-image:url("background4.jpg");
	 transition: background-image 0.5s;
 }
  
/*body {
	background-image:url("background1.jpg");
	transition: background-image 1s;
}*/

nav {
	border:1px solid white;
	text-align:center;
	background-color:rgba(10,10,10,0.6);
	padding:30px;
	font-size:1.6em;
	border-radius:4px;
}

nav .activePage {
	color:white;
	font-weight:bold;
	border-top:1px solid white;
	font-size:1.1em;
}

nav a {
	text-decoration:none;
	color:gray;
	padding:10px 20px;
	border-top:1px solid white;
	transition:color 7s;
}
 
 nav a:hover {
	 color:white;
	 transition:color 0.2s;
 }

aside {
	width:130px;
	right:0px;
	border:1px solid white;
	background-color:rgba(100,100,100,0.4);
	padding:10px;
	text-align:center;
	margin-top:7px;
	border-radius:4px;
}

aside a {
	text-decoration:none;
	color:white;
}

article {
	height:100%;
	text-align:center;
	vertical-align:top;
}

article #mainpage {
	background-image:url("magma.jpg");
	background-repeat: no-repeat;
	background-size:75%;
	background-position:center;
}

#logo {
	border:1px solid white;	
}

#social {
	border:1px solid white;
	float:left;
	width:70px;
}

#sideNav {
	border:1px solid white;
	float:right;
}

#logo {
	float:left;
	position:absolute;
}

#enterButton {
	position:relative;
	left:110px;
}

.ssintro {
	position:relative;
	left:20px;
}

.featuredLink {
	font-size:2.3em;
	text-decoration:none;
	color:black;
	position:relative;
	left:90px;
	top:-50px;
}

.socialButton {
	margin-top:10px;
	margin-bottom:10px;
}

.sidebarImage {
	width:200px;
	height:200px;
	border:1px solid white;
}

.productListing {
	margin-top:10px;
	border:1px solid white;
	width:40%;
	vertical-align:top;
	height:500px;
	display:inline-block;
}

.price {
	
}

.shopItem {
	background-color:transparent;
	box-shadow: 3px 7px 16px #888888;
	padding:30px;
	margin:50px;
	display:inline-block;
	border:1px solid silver;
	transition:background-color 1s;
	vertical-align:top;
}

.shopItem:hover {
	background-color:rgba(255,255,255,1);
	transition:background-color 2s;
}